body {
  background-color: black;
}
#btn {
  /*Applies style to the "btn" button*/
  background-color: #c8e4b2;
  border-radius: 5%;
  color: black;
  font-family: "Nanum Myeongjo", serif;
  font-size: 15px;
  font-weight: 900;
  /*font-family: 'Playfair Display', serif;*/ /*font for displaying text.*/
  height: 50px;
  width: 150px;
  position: absolute;
  top: 40rem;
  left: 45rem;
}
#btn:hover {
  /*Applies style on hovering the "btn" button*/
  background-color: #7eaa92;
}
#playBtn:hover{
    /*Applies style on hovering the "btn" button*/
    background-color: #7eaa92;
}
#decorateBtn:hover{
  background-color: #7eaa92;
}
.cake_btn:hover{
  background-color: #7eaa92;
}
.msg:hover{
  background-color: #7eaa92;
}
#bulbImg {
  height: 150px;
  position: absolute;
  left: 45rem;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

#playBtn {
  background-color: #c8e4b2;
  border-radius: 5%;
  color: black;
  font-family: "Nanum Myeongjo", serif;
  font-size: 15px;
  font-weight: 900;
  height: 50px;
  width: 150px;
  position: absolute;
  top: 40rem;
  left: 45rem;
}
#decorateBtn {
  background-color: #c8e4b2;
  border-radius: 5%;
  color: black;
  font-family: "Nanum Myeongjo", serif;
  font-size: 15px;
  font-weight: 900;
  height: 50px;
  width: 150px;
  position: absolute;
  top: 40rem;
  left: 45rem;
}
@keyframes flyBanner {
  0% {
    transform: translateY(100vh) rotate(50deg);
  }
  100% {
    transform: translateY(50px) rotate(0deg);
  }
}
.flying {
  animation: flyBanner 5s linear forwards; /* Adjust animation duration and timing function as needed */
}
.pos {
  margin: auto;
}
@keyframes fixBanner {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
  }
}
@import url(https://fonts.googleapis.com/css?family=Lato:300italic);
@import url("https://fonts.googleapis.com/css?family=Titan+One");
@import url("https://fonts.googleapis.com/css?family=Lobster");

html,
body {
  /* width: 100%; */
  /* height: 100%; */
}


#cakeSVG {
  position: absolute;
  top: 7em;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cake {
  display: block;
}
.cake_btn {
  background-color: #c8e4b2;
  border-radius: 5%;
  color: black;
  font-family: "Nanum Myeongjo", serif;
  font-size: 15px;
  font-weight: 900;
  height: 50px;
  width: 150px;
  position: absolute;
  top: 40rem;
  left: 45rem;
}
/* ============================================== Candle
*/

.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 60px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 5s ease-out forwards;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/

.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}
.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/

@keyframes fuego {
  0%,
  100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

.msg {
  display: none;
  background-color: #c8e4b2;
  border-radius: 5%;
  color: black;
  font-family: "Nanum Myeongjo", serif;
  font-size: 15px;
  font-weight: 900;
  height: 50px;
  width: 150px;
  position: absolute;
  top: 40rem;
  left: 45rem;
}

/*Birthday Message*/
.text {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: 550;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: none;
}
p {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #333;
  opacity: 0;
  animation: fadeInOut 4s linear forwards;
}

p:nth-child(2) {
  animation-delay: 4s;
}
p:nth-child(3) {
  animation-delay: 8s;
}
p:nth-child(4) {
  animation-delay: 12s;
}
p:nth-child(5) {
  animation-delay: 16s;
}
p:nth-child(6) {
  animation-delay: 20s;
}
p:nth-child(7) {
  animation-delay: 24s;
}
p:nth-child(8) {
  animation-delay: 28s;
}
p:nth-child(9) {
  animation-delay: 32s;
}
p:nth-child(10) {
  animation-delay: 36s;
}
p:nth-child(11) {
  animation-delay: 40s;
}
p:nth-child(12) {
  animation-delay: 44s;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}
